<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>
      body {
        font-family: sans-serif;
      }
      h1 {
        color: {{color}};
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hello</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab aspernatur
        molestias ratione dolores consequatur officiis veritatis illum eveniet
        et soluta!
      </p>
      <p>{{text}}</p>
    </div>
  </body>
</html>
